.price_baner {
    // margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 0 60px;

    h1 {
        margin-bottom: 30px;
    }

    .default {
        margin: 0;
        margin-bottom: 30px;
        color: #4B5563;
        max-width: 900px;

        * {
            color: #4B5563;
        }
    }

    .btns {
        display: flex;
        background-color: #F9FAFB;
        border-radius: 32px;
        margin: 0 0 30px;
        width: fit-content;
        gap: 8px;
        padding: 4px;

        .btn {
            font-family: Tilda Sans;
            font-weight: 500;
            font-size: 18px;
            line-height: 20px;
            letter-spacing: 0%;
            color: #4B5563;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 32px;
            padding: 16px 20px;
            cursor: pointer;
            transition: .5s;
        }

        .btn:hover,
        .btn.active {
            color: #0B111F;
        }

        .btn.active {
            box-shadow: 0px 1px 2px -1px #121A2B0F;
            box-shadow: 0px 1px 2px 0px #121A2B1A;
            background-color: #FFFFFF;
        }
    }

    .first-table {
        margin-bottom: 0;
    }

    .main_cont_v2 {
        margin-bottom: 30px;

        .head_table {
            transition: .5s;
            border-radius: 10px;

            svg {
                transition: .5s;
                transform: rotate(315deg);
            }
        }

        .hidd_cont_v2 {
            opacity: 0;
            visibility: hidden;
            transition: .5s;
        }
    }

    .main_cont_v2.active {
        .head_table {
            border-radius: 10px 10px 0 0;

            svg {
                transform: rotate(0);
            }
        }

        .hidd_cont_v2 {
            opacity: 1;
            visibility: visible;
        }
    }

    @media (max-width: 1202px) and (min-width: 721px) {
        .help_cont_v3 {
            padding: 0 16px;
        }
    }

    @media (max-width: 1202px) {
        .head_table_cont {
            padding: 0 16px;
        }

        h1 {
            padding: 0 16px;
        }

        .default:not(table .default) {
            padding: 0 16px;
        }

        .btns {
            margin-left: 16px;
            margin-right: 16px;
        }
    }

    .head_table {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        background-color: #0080F7;
        border-radius: 10px 10px 0 0;
        padding: 26px 30px;
        cursor: pointer;

        h3 {
            font-family: Tilda Sans;
            font-weight: 700;
            font-size: 30px;
            line-height: 28px;
            letter-spacing: 0%;
            color: #FFF;
        }

        svg {
            max-width: 30px;
            max-height: 30px;
            min-height: 30px;
            min-width: 30px;
        }
    }


    table {
        // border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        transition: .5s;

        &.no-top-border-radius {
            thead {

                tr {
                    td:first-child {
                        border-radius: 0 0 0 0;
                    }

                    td {
                        border-top: 0;
                    }

                    td:last-child {
                        border-radius: 0;
                    }
                }
            }

        }

        thead {

            * {
                color: #FFF;
            }

            tr {
                td:first-child {
                    border-radius: 10px 0 0 0;
                    border-left: 1px solid #CBD5E1;
                }

                td {
                    background-color: #F7F9FA;
                    border-right: 1px solid #CBD5E1;
                    font-family: Tilda Sans;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 20px;
                    letter-spacing: 0%;
                    color: #0B111F !important;
                    border-bottom: 0;
                    border-left: 0;
                }

                td:last-child {
                    border-radius: 0 10px 0 0;
                    // border-right: 0;
                }
            }
        }

        td.check {
            vertical-align: middle;
            text-align: center;
        }

        tbody,
        thead {
            td:first-child {
                border-left: 1px solid #CBD5E1;
            }

            td {
                border: 1px solid #CBD5E1;
                overflow: hidden;
                border-bottom: 0;
                border-left: 0;
            }
        }

        tbody {

            tr:last-child {

                td {
                    border-bottom: 1px solid #CBD5E1;
                }
            }
        }

        td {
            padding: 20px 30px;
            font-family: Tilda Sans;
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0%;

            b {
                font-weight: 600;
            }
        }

        td:first-child {
            width: 40%;
        }

        .button {
            max-width: 315px;
            height: 48px;
            font-family: Tilda Sans;
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            margin-bottom: 20px;
        }

        .default {
            margin: 0;

            b {
                display: contents;
            }
        }
    }

    table.v2 {
        td:first-child {
            width: auto;
        }
    }

    .hidd_cont_v1 {
        opacity: 0;
        visibility: hidden;
        transition: .5s;

        table {
            tbody {
                tr:first-child {
                    td {
                        border-top: 0;
                    }
                }
            }
        }
    }

    .btn_toggle_v1 {
        border-radius: 0 0 8px 8px;
    }

    .help_cont_v3.active .first-table {
        margin-bottom: 30px;
    }

    .help_cont_v3.active .hidd_cont_v1 {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 720px) {

    .price_baner .help_cont_v3 {

        .help_cont {
            overflow-x: scroll;
            overflow-y: hidden;
        }

        h2 {
            padding: 0 16px;
        }

        .hidd_cont_v1 {
            overflow: visible;
        }
    }

    .price_baner .help_cont_v3 table {
        max-width: 720px;
        min-width: 720px;
        margin: 0 16px;
    }

    .price_baner .help_cont_v3 .help_cont_2 {
        padding: 0 16px 0 16px;
    }
}

@media (max-width: 500px) {

    .price_baner .head_table {
        padding: 16px 20px;

        h3 {
            font-family: Tilda Sans;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0%;
        }
    }

    .price_baner {
        margin-bottom: 0;
        padding-bottom: 0;

        h1 {
            margin-bottom: 30px;
        }

        .default {
            margin-bottom: 20px;
        }

        .btns {
            .btn {
                font-family: Tilda Sans;
                font-weight: 600;
                font-size: 13px;
                line-height: 15px;
                letter-spacing: 0%;
            }
        }
    }

    .price_baner .help_cont_v3 table thead tr td {
        font-family: Tilda Sans;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
    }

    .price_baner .help_cont_v3 table td {
        font-family: Tilda Sans;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0%;
        padding: 20px;
    }

    .price_baner .help_cont_v3 td:first-child {
        max-width: 230px;
        min-width: 230px;
        width: auto;
    }
}